.fondo-login-derecha {
    background-color: #EEFFF8;
}

.color-principal-letra {
    color: #0D4E33;
}

.color-principal-letra-login {
    color: #166645;
}

.boton-login {
    background-color: var(--color-verde_letra);
    border-radius: 3vh;
    border: #C2C2C2;
    padding: 1vh;
    box-shadow: 1px 1px 5px gray;
    
}

.boton-login:hover {
    background-color: var(--color-verde_boton);
}
