:root{
  --white: #FFFFFF;
  --color-verde_fondo: #EEFFF8;
  --color-verde_letra: #057C82;
  --color-verde_boton: #166645;
  --color-verde_subtitulo: #0D4E33;

  --color-gris_claro: #f2f2f2;
  --color-gris_oscuro: #8d8d8d;
  --color-negro: #1e1e1e;
  --color-rojo_claro: #ffecec;
  --color-rojo_oscuro: #713a3b;
  --color-amarillo_claro: #fffbdf;
  --color-amarillo_oscuro: #6d6000;
}